@charset "UTF-8";

  @font-face
{
    font-family: 'BallparkWeiner';
    src: url('font/ballpark.eot');
    src: url('font/ballpark.eot?#iefix') format('embedded-opentype'),
         url('font/ballpark.woff') format('woff'),
         url('font/ballpark.ttf') format('truetype'),
         url('font/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('font/dayrom.eot');
    src: url('font/dayrom.eot?#iefix') format('embedded-opentype'),
         url('font/dayrom.woff') format('woff'),
         url('font/dayrom.ttf') format('truetype'),
         url('font/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}


@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap");

:root{
    --blue: #144a7f;
    --green: #8cd9b1;
    --red: #f47171;
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body
{
	width: 1200px;
	margin: auto;
}

*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/* section{
    padding:2rem 9%;
} */

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background: linear-gradient(10deg, #7bb3ea, #8cd9b1);
    border-radius: 0.5rem;
    
}

.heading span{
    color:var(--blue);
}

.btn{
	margin-right: 1rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#144a7f;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--green);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background: rgb(250, 250, 250);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:#333;
    font-weight: bolder;
}

header .logo span{
    color:var(--blue);
}

header .navbar{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

header .navbar ul li a{
    text-decoration: none;
    font-size: 2rem;
    padding:0;
    color:#144a7f;
}

header .navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #8cd9b1;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

header .navbar ul li:hover::after{
    width: 100%;
}

header .navbar ul li a:hover{
    color:var(--green);
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--green);
}

#deconnexion:hover{
    color:var(--red);
}


header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color:#333;
}

.home .content span{
    font-size: 3.5rem;
    color:var(--blue);
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#999;
    padding:1rem 0;
    line-height: 1.5;
}


.vente{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    margin-top: 3rem
}

.vente .photo{
	display: flex;
	text-align: center;
	
}
.vente .content{
	display: flex;
	align-items: left;
	flex-direction: column;
	outline-color: #fff;

}

.vente .content h1{
	text-align: left;
	padding-top: 1 rem;
}

.vente .content label, legend{
	font-size: 12px;
}

.vente .content .description{
	margin: 0;
    padding: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.vente .content input[type=text], input[type=file], select, input[type=number], textarea{
	border: 2px solid var(--green);
	border-radius: 4px;
}

.vente .content .cat{
	margin: 0;
	padding: 2rem;
	gap: 1rem;
	align-items: center;
}

.vente .content .uploadimg{
	margin: 0;
	padding: 2rem;
	gap: 1rem;
	align-items: center;
}

.vente .content .prix{
	margin: 0;
	padding: 2rem;
	gap: 1rem;
	align-items: center;
}

.vente .content .dateenchere{
	margin: 0;
	padding: 2rem;
	gap: 1rem;
	align-items: center;
}

.vente .content fieldset{
	margin: 0;
	padding: 2rem;
	gap: 1rem;
	align-items: center;
}

.vente .content .enregistrer{
	display: flex;
	margin: 0;
	padding-top: 3rem;
	align-items: center;
	justify-content: space-around;
	
	
}

.vente .content .enregistrer button{
	border: 2px solid var(--green);
	border-radius: 4px;
}
	
.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#333;
}

.about .row .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.products .search{
    display: flex;
    justify-content: space-between;
}

.products .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
.products  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--green);
    padding-right: 40px;
    color:#144a7f;
  }

  .products .input-search::placeholder{
    color:#144a7f;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }

  .products  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#fff ;
    background-color:transparent;
    pointer-events: painted;  
  }
.products .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border:1px solid var(--blue);
    border-radius: 3%;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  .products  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid var(--blue);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  .products .search .cat {
    height: 40px;
    border: var(--green) solid 1px;
    border-radius: 1rem;
  }






  

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.products .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;    
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}

.products .box-container .box .image img{
    height:25rem;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom:0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background:var(--blue);
    color:#fff;
}

.products .box-container .box .image .icons .fa-cart-plus{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:50%;
}

.products .box-container .box .image .icons .fa-heart-circle-plus{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 25%;
}

.products .box-container .box .image .icons .fa-share-from-square{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 25%;
}

.products .box-container .box .image .icons a:hover{
    background:#333;
}

.products .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
}

.products .box-container .box .content .price{
    font-size: 1.5rem;
    color:var(--blue);
    font-weight: bolder;
    padding-top: 1rem;
    text-transform: none;
}

.products .box-container .box .content .date-fin{
    font-size: 1.5rem;
    color:var(--blue);
    font-weight: bolder;
    padding-top: 1rem;
    text-transform: none;
}

.products .box-container .box .content .vendeur{
    font-size: 1.5rem;
    color:var(--blue);
    font-weight: bolder;
    padding-top: 1rem;
    text-transform: none;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--blue);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.footer{
	text-align:center;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--blue);
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
}

.footer .credit span{
    color:var(--blue);
}

div .box #infos {
    text-transform: none;
}

.visualisation
{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 10rem;
}

.visualisation p, h1
{
	padding-bottom: 1rem; 
}





/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background: white;
        border-top: 0.1rem solid #144a7f;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}